{{ define "sample" }}
  <html>
  <head>
    <link rel="stylesheet" type="text/css" href="./public/sample.css">
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>
  <body>
    <blockquote>
      <div>{{.Content_a}}</div>
      <div>{{.Content_b}}</div>
      <div>{{.Content_c}}</div>
      <div>{{.Content_d}}</div>
    </blockquote>

    <p>{{.Content_c}}</p>
  </body>
  </html>
{{end}}
